<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Open+Sans:ital,wght@0,300;0,700;1,300&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">  
    <script src="https://kit.fontawesome.com/1dc71a7fda.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <section class="main-header">
            <section class="logo-search">
                <img class="logo" src="/img/logo-mercado-liebre.svg" alt="Logo ML" height="80px" width="200px">
                <form class="search" action="#" method="GET">
                    <input type="search" class="buscar" name="terminoBuscado">
                    <button><i class="fas fa-search"></i></button>
                </form>
            </section>
            <section id="cuota">
                <i class="mano fas fa-hand-holding-usd"></i><p id="cuotas" style="display:inline;">Comprá en cuotas y sin tarjeta de crédito</p>      
            </section>
        </section>

        <nav class="main-nav">
            <ul class="listauno">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li> <a href="">Ayuda</a></li>
            </ul>
            <ul class="listados">
                <li><a href="/register">Creá tu cuenta</a></li><i class="fas fa-user"></i><br>
                <li><a href="login">Ingresá</a></li><i class="fas fa-sign-in-alt"></i><br>
                <li><a href="">Mis compras</a></li><i class="fas fa-shopping-basket"></i><br>
            </ul>
        </nav>

        <div class="container-bm">
            <button>
                <i class="fas fa-bars fa-2x"></i>
            </button>
        </div>
    </header>  
    <div id="banner">
        <img src="/img/img-home-banner.jpg" alt="banner" height="100%" width="100%">
    </div>  
    <main>
     <form action="/login." method="POST" class="login">
            <h2>Login</h2>
            <input type="text" name="nombre" placeholder="Nombre de Usuario" required class="campo">
            <input type="text" name="contraseña" placeholder="Elegi tu Contraseña" required minlength="8" class="campo">
            <div class="botones">          
            <button type="submit" class="boton">Enviar</button>
            </div>
        </form>
    </main>
     <footer>
        <div class="flex-footer">
        <section class="footer">
            <div class="icono">
                <i class="fas fa-credit-card fa-2x"></i>
            </div>
            <h2 class="titular2">Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        </section> 
        <section class="footer">
            <div class="icono">
                <i class="fas fa-gift fa-2x"></i>
            </div>
            <h2 class="titular2">Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p> 
        </section> 
        <section class="footer">
            <div class="icono">
                <i class="fas fa-user-shield fa-2x"></i>
            </div>
            <h2 class="titular2">Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p> 
        </section>
        </div>
        <section>
            <p id="copyright">© 1999-2020 MercadoLiebre S.R.L</p> 
        </section>
    </footer>
</body>
</html>