.form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.campo {
    border: solid 1px #ebebeb;
    border-radius: 4px;
    margin: 8px 0;
    height: 25px;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.intereses {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.check {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.check input {
    margin-right: 5px;;
}

.botones {
    display: flex;
    justify-content: space-around;
}

.boton {
    width: 40%;
}

@media (min-width:361px) {
   
}

@media (min-width:769px) {
    
}
