.login {
     width: 80%;
     margin: auto;
}

.campo {
    border: solid 1px #ebebeb;
    border-radius: 5%;
    display: block;
    width: 100%;
    margin: 8px 0;
    height: 25px;
}

.boton:hover {
   color: #0022AA;
}



.boton {
    width: 100%;
}

@media (min-width:361px) {

}

@media (min-width:769px) {
    
}
