.login {
     width: 80%;
     margin: auto;
}

.campo {
    border: solid 1px #ebebeb;
    border: 4%;
    display: block;
    width: 100%;
    margin: 8px 0;
    height: 25px;
}

.boton {
    width: 100%;
}

@media (min-width:361px) {

}

@media (min-width:769px) {
    
}
