html {
    font-size: 10px;
}

body {
    background-color: #ebebeb;
    font-family: 'Roboto', sans-serif;    
    min-width: 300px;
    max-width: 1200px;
 }

/* header {
    background-color: #EAC926;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}*/

header {
    background-color: #EAC926;
    padding: 15px;
    position: sticky;
    top:0;
    z-index: 3;
}

.logo-search {
    display: flex;
    align-items: center;
}

.search {
    display: flex;
}

.buscar {
    width: 100%;
}

.logo, .search {
    width: 50%;
}

.mano {
    margin-right: 5px;
}

#cuota {
    text-align: center;
    margin: 10px;
}

.main-nav {
    display: none;
}

ul {
    margin-bottom: 0;
    padding: 0px;
    list-style: none;
}

li a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #000000;
}

.container-bm {
    text-align: center;
}

div button {
    margin: 15px auto;
    color:  #ffffff;
    background-color: #1259c3;
    border-radius: 5px;
    border: #1259c3;
    padding: 10px;
}

#banner {
    margin: 0;
    padding: 0;
    width: 100%;
    /*margin-top: 132px;*/
}

main {
    width: 90%;
    margin: auto;
    background-color: #ebebeb;
    color:  #666;
}

.titular {
    font-size: 2.2rem;
    font-family: 'Roboto', sans-serif;
}

.producto {
    margin-bottom: 15px;
}

.producto .descripcion {
    opacity: 0%;
}


.producto img {
    margin: 0px;
    display: flex;
}

.detalleprod {
     border-top: solid 1px #ebebeb;
     background-color: #FFFFFF ;
     padding: 15px;
}

.camion {
   color: #39b54a;
   font-size: 1.1rem;
   padding: 1px;
   width: 20px;
   height: 20px;
   border: 1px solid #39b54a;
   border-radius: 50%;
}

.precio {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
 }

.descuento {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    color: #39b54a;
    margin: 0px;
    width: 70%;
}

.descripcion {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
}

footer {
    background-color: #ffffff;
    color:  #666666;
}

.footer {
    text-align: center;
}

.icono {
    color:  #1259c3;
    padding-top: 20px;
    margin-bottom: 10px;
}

.titular2 {
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0;
}

.footer p {
    width: 80%;
    margin: 0 auto;
}

#copyright {
    text-align: center;
    background-color: #FFFFFF;
}

@media (min-width:361px) {

    .container-bm {
        display: none ;
    }

    .main-header {
        display: flex ;
        justify-content: space-between;
    }

    #cuota {
        text-align: right;
    }

    .main-nav {
        display: flex;
        justify-content: space-between;
    }

    .listauno {
        display: flex;
        width: 50%;
        justify-content: flex-start;
    }

    .listados {
        display: flex;
        width: 50%;
        justify-content: flex-end;
    }

    ul li {
        margin: 0 10px;; 
    }

    .contenedor-productos {
        display: flex;
        flex-wrap: wrap;
        gap: 7%;
        justify-content: center;
    }

    .producto:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .producto {
        width: 40%;
    }

    .detalleprod {
        position: relative;
    }
    .pyd {
        display: flex;  
        justify-content: center;
        gap: 4%;
        width: 100%;
   }

    .camion {
        position: absolute;
        top: -15px;
        right: 10px;
    }

    .producto:hover .descripcion {
        opacity: 100%;
    }

    .flex-footer {
        display: flex;
    }
}

@media (min-width:769px) {

    .contenedor-productos {
        display: flex;
        gap: 4%;  
        justify-content: center;
    }

    .producto {
        width: 22%;
    }
}

/**
Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;

● Navegación en tablets (ancho mínimo 361 px)
● Navegación en desktop (ancho mínimo 769 px)

html{
  box-sizing: border-box;
  font-size: 10px;
}
*,
*::after,
*::before {
 box-sizing: inherit;
}

*/